@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');

@font-face {
  font-family: "Museo Sans Cyrl 500 Regular";
  src: local("Museo Sans Cyrl"), url("../fonts/museosanscyrl-500.woff2") format("woff2"), url("../fonts/museosanscyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Sans Cyrl 700 Regular";
  src: local("Museo Sans Cyrl"), url("../fonts/museosanscyrl-700.woff2") format("woff2"), url("../fonts/museosanscyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Sans Cyrl 900 Regular";
  src: local("Museo Sans Cyrl"), url("../fonts/museosanscyrl-900.woff2") format("woff2"), url("../fonts/museosanscyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Museo Sans Cyrl, "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #1A1A1A;
}

body {
  margin: 0;
}

@media (max-width: 1199px) {
  body.no-scroll {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

picture {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
}

button {
  border: none;
  background: white;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  margin-top: 40px;
  gap: 81px;
}

.main {
  display: block;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

section {
  margin: 0 auto;
}

.support__content {
  display: flex;
  min-height: 306px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  padding: 26px 40px 54px 40px;
  color: #FFF;
  background: no-repeat bottom #93BBEA url('../img/header.png');
  background-position-x: right;
  background-size: contain;
  width: 100%;
  max-width: 1200px;
}

.support__title {
  font-size: 60px;
  font-weight: 700;
  max-width: 535px;
  margin-top: 25px;
  margin-bottom: 0;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 51px;
  text-align: center;
}

.support__text {
  font-size: 17px;
  font-weight: 400;
  max-width: 535px;
  text-align: center;
  font-style: normal;
  line-height: 140%;
  margin-bottom: 40px;
}

.social__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  padding: 40px;
  width: 100%;
  max-width: 996px;
  min-height: 166px;
  box-shadow: 0 20px 60px 0 rgba(26, 26, 26, 0.05);
}

@media (max-width: 928px) {
  .social__info {
    text-align: center;
    margin-bottom: 22px;
  }

  .social__content {
    flex-direction: column;
  }
}

.swiper-slide.question__item {
  height: 160px;
}

.social__title {
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 16px;
}

.social__text {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 14px;
}

.social__link {
  display: flex;
  background: #F9F9F9;
  border: none;
  cursor: pointer;
  width: 56px;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.information__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  max-width: 996px;
  width: 100%;
  margin-top: 80px;
}

.information__title {
  margin-bottom: 32px;
}

.information__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  letter-spacing: -0.3px;
}

.info__container {
  max-width: 450px;
}

.info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  padding: 19px 16px 19px 24px;
}

.info__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.info__text {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.3px;
}

.info__button {
  width: 24px;
  height: 24px;
}

.answer {
  max-width: 690px;
  padding-top: 21px;
}

.answer__head {
  display: flex;
  align-items: center;
}

.answer__title {
  margin-right: 10px;
  font-size: 24px;
}

.answer__button-share {
  height: 24px;
  width: 24px;
}

.answer__text {
  margin-top: 0;
  font-size: 15.4px;
  margin-bottom: 40px;
}

.contacts__title {
  font-size: 12.6px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 17px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 8px;
  justify-content: center;
}

.contacts__icon {
  margin-right: 10px;
}

.contacts__link {
  font-family: Museo Sans Cyrl, "Arial", sans-serif;
  display: flex;
  background: #F9F9F9;
  color: #1A1A1A;
  border: none;
  cursor: pointer;
  width: 160px;
  height: 48px;
  padding: 16px 13px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.contacts__link:active,
.contacts__link:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.contacts__link_short {
  width: 48px;
  color: #FFF;
}

.contacts__link_text {
  min-width: 224px;
  background: #36BA5F;
  color: #FFF;
  padding: 16px 57px;
}

.chat-icon {
  position: relative;
  right: 6px;
}

.swiper {
  margin-bottom: 50px;
  position: absolute;
  width: 100%;
  max-width: 1200px;
}

.swiper-slide {
  display: block;
  width: 282px;

}

.questions__content {
  max-width: 1200px;
  width: 100%;
  min-height: 160px;
}

@media (max-width: 900px) {
  .questions__content {
    height: 712px;
  }
}

.questions__list {
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
  position: relative;
}

@media (max-width: 900px) {
  .questions__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}

.questions__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 32px;
}

.question__text {
  margin-top: 10px;
}

.question__item {
  box-sizing: border-box;
  width: 282px;
  height: 160px;
  padding: 16px;
  border-radius: 16px;
}

.questions__style {
  display: flex;
  width: 1200px;
  height: 160px;
  border-radius: 16px;
  justify-content: space-between;
}

.question__style {
  display: block;
  width: 282px;
  height: 160px;
  border-radius: 16px;

}

.questions__style * {
  width: 282px;
  height: 160px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
}

@media (max-width: 900px) {
  .questions__style {
    flex-direction: column;
    height: 712px;
    align-items: center;
    width: 100%;
  }

  .question__style {
    align-items: center;
    background-color: green;
  }
}

.question__item {
  width: 282px;
  height: 160px;
}
  .question__item:nth-child(odd) {
    background: no-repeat center url('../img/card-background.png');
    background-position-x: right;
    background-size: contain;
  }

.question__item:nth-child(odd) * {
  max-width: 160px;
}

.question__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
}

.question__text {
  color: #949494;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

.question__button {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, 0.09));
  position: absolute;
  top: 60px;
  z-index: 10;
}

.question__button:disabled {
  display: none;
}

.question__button_next {
  right: 0;
}

.question__button_prev {
  left: 0;
}

@media (max-width: 900px) {
  .question__button {
    display: none;
  }
}

.swiper-wrapper {
  height: 160px;
}

@media (max-width: 900px) {
  .swiper-wrapper {
    height: 712px;
  }
}

@media (max-width: 550px) {
  .wrapper {
    gap: 30px;
  }

  .social__list {
    width: 200px;
  }

  .support__title {
    font-size: 40px;
  }

  .social__text, .questions__title, information__title {
    font-size: 30px;
  }

  .support__content {
    text-align: center;
  }
}
